.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
src/
node_modules/
!node_modules/prettier/*.js
!node_modules/prettier-plugin-django/out/index.js
!node_modules/prettier-plugin-django/package.json
yarn.lock